<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIDO</title>
</head>
    <body>
        <h1>This is from dog</h1>
        <img src="/pexels-lucas-andrade-4681107.jpg" alt="a picture of a dog">
    </body>
</html> 